body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 20px;
}

.item-carrinho {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.item-carrinho img {
    margin-right: 20px;
}

.item-carrinho h3 {
    margin: 0;
}

.item-carrinho p {
    margin: 5px 0;
}

#carrinhoButtons {
    margin-top: 20px;
}

#carrinhoButtons button {
    width: 48%;
}
.icon-logo {
    background-color: black;
    padding-left: 46%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
