body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-principal {
  background-color: black;
  padding: 10px 20px;
}

.show-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logomarca img {
  width: 6rem;
  display: flex;
}

.navbar img .tresbarras {
  display: none;
  cursor: pointer;
}


.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.navbar a:hover {
  color: rgb(95, 135, 245);
}

.navbar .logomarca {
  display: flex;
  align-items: center;
}

.navbar{
  display: flex;
  align-items: center;
}

.item :hover {
  transform: translateY(-2px);
  transition: all 0.2s;
}

.button-tres {
  display: none;
}

header {
  background-image: radial-gradient(#fff, #c7c7c7);
}

.header-button-size {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}
.header-button-size-left {
  height: 100%;
  flex-basis: 50%;
}

.header-button-size-left h2 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}

.header-button-size-left p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.header-button-size-left button {
  background-color: rgb(95, 135, 245);
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.5s;
}

.header-button-size-left button:hover {
  background-color: #004c94;
}

.header-button-size-right {
  display: flex;
  flex-basis: 50%;
  align-items: center;
}

.header-button-size-right img {
  width: 100%;
}



.carrossel {
  position: relative;
  max-width: 85%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carrossel img {
  width: 100%;
  vertical-align: middle;
  border-radius: 8px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.topBtn {
  display: none; 
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.topBtn:hover {
  background-color: #555;
}


@media (max-width: 800px){
  .header-button-size{
    flex-direction: column;
    text-align: center;
  }
}
section{
  display: flex;
}

.Categorias{
  text-align: center;
}
.underline{
  display: inline-flex;
  color: blue;
}