/* Estilizando o corpo da página */
body {
    display: flex; /* Utiliza o modelo de layout flexbox */
    background-color: antiquewhite; /* Define a cor de fundo como antique white */
}

/* Estilo para elementos com a classe 'testao' */
.testao {
    text-align: center; /* Centraliza o texto dentro desses elementos */
}

/* Estilo para elementos com a classe 'underline' */
.underline {
    display: inline-flex; /* Utiliza flexbox, mas no fluxo de linha do texto */
    color: red; /* Define a cor do texto como vermelho */
    font-style: italic; /* Define o estilo da fonte como itálico */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Define a família da fonte */
    border-bottom: 2px dashed black; /* Adiciona uma borda inferior tracejada preta */
}

/* Estilo para elementos com a classe 'container' */
.container {
    display: flex; /* Utiliza o modelo de layout flexbox */
    position: relative; /* Posição relativa em relação ao seu container pai */
    justify-content: start; /* Alinha os itens no início do eixo principal (horizontal) */
    align-items: center; /* Centraliza os itens no eixo transversal (vertical) */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
    margin-left: 10%; /* Margem à esquerda de 10% */
    margin-right: 10%; /* Margem à direita de 10% */
    margin-bottom: 2%; /* Margem inferior de 2% */
}

/* Estilo específico para imagens dentro de elementos com a classe 'container' */
.container img {
    flex: 0 0 30%; /* Define a largura fixa das imagens como 30% */
    max-width: 100%; /* Garante que as imagens não ultrapassem 100% da largura do container */
    height: 150px; /* Mantém a proporção original da altura */
    margin: 0.8%; /* Margem entre as imagens */
    border-radius: 5%;
    width: 150px; /* Define a largura fixa das imagens como 200 pixels */
}